* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100vw;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.flex-center-h {
    justify-content: center;
}

.flex-center-v {
    align-items: center;
}

.card {
    width: 600px;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    border: 1px solid #eee;
    margin: 40px 80px;
    border-radius: 4px;
    padding: 20px;
}

.card h3 {
    font-size: 3em;
    margin: 0;
}

.card h4 {
    font-size: 1.5em;
    margin: 0;
}

.card button {
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 0.75em;
    border-radius: 4px;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.15s all ease-out;
}

.add {
    background-color: #FC427B;
}

.card button:hover {
    transform: translateY(-2px);
}

.remove {
    background-color: #1B9CFC;
}